/* 
CSS SYNTAX

selector {
    property: value;
}

to select classes use dot(.)

to select id's use hashtags(#)

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav{
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px; */

    padding:10px 100px;
}

.navLinks a{
    margin: 0 20px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.navLinks a:hover{
    color: grey;
}

.getStartedBtn{
    border: none;
    background-color: darkorange;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}

#thesecondimage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px; 
    text-decoration: none;
}

#thesecondimage .thetext h1{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    color: midnightblue;
    padding-left: 0;
    padding-top: 0%;
    padding-right: 150px;
    padding-bottom: 0%
    align-items: flex-start;
}

#thesecondimage .thetext p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: unset;
    color: darkgray;
    padding-left: 0%;
    padding-top: 50px;
    padding-right: 150px;
    font-size: 20px;
    align-items: flex-start;
    
}

#secondbody{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    text-decoration: none;
}

#secondbody .